body{
    /* align-items: center;
    text-align: center !important; */
    background-color: lightgray !important;
    padding: 0 !important;
    margin: 0 !important;
}
input[type="text"]{
    /* background-color: blue !important; */
    width: 80% !important;
    margin: auto;
    display: inline-block;
}
.form-group{
    text-align: center !important;
}
.box{
    background-color: white !important;
    /* text-align: center; */
    /* align-items: center; */
    margin-top: 30px;
    padding: 30px;
    opacity: 0.8;
    border: 1px solid gray;
    /* width: 80% !important; */
    margin-left: auto !important;
}
p{
    text-align: center;
    text-decoration: underline;
}
ol li{
    font-size: 20px;
    margin-left: 5%;
}