*{
	margin: 0;
	padding: 0;
}
.like {
    font-size: 1.5rem;
}
.loginbox{
    border:1px solid lightgrey !important;
    padding: 50px !important; 
    position: absolute;
    /* background-color: red !important; */
    box-shadow: 5px 5px lightgrey !important;
    top:50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%) !important;
}
.line{
    height: 50px;
    /* width: 100% !important; */
    /* padding: 0px 100px !important; */
    padding: 0px 50px !important;
    width: 100%;
}

.signupbox{
	border:1px solid lightgrey;
	padding: 25px;
	box-shadow: 5px 5px lightgrey;
}
input[type="password"],input[type="email"],input[type="number"],input[type="text"], input[type="date"], input[type="textarea"],select{
	/*border-bottom:1px solid black;*/
    margin: 10px 0px;
}
.uppernav a{
    color: lightgrey;
    text-decoration:none;
    padding:15px;
}
.uppernav a:hover{
    color: lightgreen;
    text-decoration:none;
}
/*Cart css*/

.bloc_left_price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}
.category_block li:hover {
    background-color: #007bff;
}
.category_block li:hover a {
    color: #ffffff;
}
.category_block li a {
    color: #343a40;
}
.add_to_cart_block .price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 0;
}
.add_to_cart_block .price_discounted {
    color: #343a40;
    text-align: center;
    text-decoration: line-through;
    font-size: 140%;
}
.product_rassurance {
    padding: 10px;
    margin-top: 15px;
    background: #ffffff;
    border: 1px solid #6c757d;
    color: #6c757d;
}
.product_rassurance .list-inline {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}
.product_rassurance .list-inline li:hover {
    color: #343a40;
}
.reviews_product .fa-star {
    color: gold;
}
.pagination {
    margin-top: 20px;
}
footer {
    background: #343a40;
    padding: 40px;
}
footer a {
    color: #f8f9fa!important
}
#inc, #dec{
    height: 40px;
    margin-top: 10px;
}

.cartTable > tbody > tr > td {
    vertical-align: middle;
}
#messageBtn {  
    position: fixed;
    bottom: 10px;
    float: right;
    right: 20.5%;
    left: 92%;
    max-width: 60px;
    width: 100%;
    font-size: 30px;
    border-color: black;
    /* background-color: rgb(5, 82, 248); */
    background-color: green;
    padding: .5px;
    border-radius: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sticky-top{
    /* position: fixed !important;
    top: 20% !important;
    width: 100%; */
    /* position: -webkit-sticky;
    position: sticky;
    top: 0; */
    z-index: 1 !important;
    /* background-color: red !important; */
}
ul{
    z-index: 1 !important;
}
/*Chabot box css*/

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 1;
}

/* Add styles to the form container */
.form-container {
  max-width: 270px;
  /*padding: 10px;*/
  background-color: white;
  /*border:1px solid black;*/
}
.chatWindowIframe{
    width: 265px;
    height: 350px;
}
/* .mapIframe{
    z-index: 0;
} */
/* Set a style for the submit/send button */
.form-container .btn {
  /*background-color: #4CAF50;*/
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Media query */
@media only screen and (max-width: 750px) {
    #messageBtn {  
        left: 80%; 
    }
  }
.quantity button{
    /* display: inline-flexbox; */
    /* background-color: red;; */
    height: 38px;
    margin-top: 10px;
    font-weight: bolder;
  } 
  .fa-truck, .fa-users, .fa-thumbs-up {
    font-size: 30px !important;
    margin: 0px 25px 0px 10px;
}
.card1, .card2, .card3{
    display: flex;
    width: 300px;
    height: 70px;
    background-color: white;
    box-shadow: 2px 4px 5px grey;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.features{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.features h3{
    font-size: 25px;
}