*{
	margin: 0;
	padding: 0;
}
.like {
    font-size: 1.5rem;
}
.loginbox{
    border:1px solid lightgrey !important;
    padding: 50px !important; 
    position: absolute;
    /* background-color: red !important; */
    box-shadow: 5px 5px lightgrey !important;
    top:50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%) !important;
}
.line{
    height: 50px;
    /* width: 100% !important; */
    /* padding: 0px 100px !important; */
    padding: 0px 50px !important;
    width: 100%;
}

.signupbox{
	border:1px solid lightgrey;
	padding: 25px;
	box-shadow: 5px 5px lightgrey;
}
input[type="password"],input[type="email"],input[type="number"],input[type="text"], input[type="date"], input[type="textarea"],select{
	/*border-bottom:1px solid black;*/
    margin: 10px 0px;
}
.uppernav a{
    color: lightgrey;
    text-decoration:none;
    padding:15px;
}
.uppernav a:hover{
    color: lightgreen;
    text-decoration:none;
}